# Copyright (C) 2023 Daniel Mueller <deso@posteo.net>
# SPDX-License-Identifier: GPL-3.0-or-later

name: Build

on:
  workflow_dispatch:

jobs:
  build:
    name: Build statically linked binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: sudo apt-get install musl-tools
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: x86_64-unknown-linux-musl
      - run: |
          cargo install --bin=notnow --path=. --root=. --target x86_64-unknown-linux-musl
          strip bin/notnow
      - uses: actions/upload-artifact@v3
        with:
          name: notnow
          path: bin/notnow
